#welcomeMessage {
    text-align: center;
    color: cadetblue;
    outline-width: thin;
    outline-color: darkcyan;
    outline-style: groove;
    font-family: sans-serif;
}
#welcomeSub{
    font-size: 12pt;
}